@{
    //   ViewBag.Title = "Index";
    //   Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section additionalScripts {
    <script type="text/javascript" src="@Url.Content("~/Content/Js/BTApp/_app.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Js/BTApp/_routes.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Js/BTApp/WelcomeController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Js/BTApp/TestController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Js/BTApp/CustomerController.js")"></script>
}

<div ng-app="MainApp" class="main-app fixed-top">
    <div class="fixed-top-body" ng-view >

    </div>

<div class="app-main" ng-controller="CustomerController">
    <nav class="active">
        <a href="#welcome"  ng-click="tab=1">HOME</a>
        <a href="#customer"  ng-click="tab=2">CUSTOMER</a>
        <a href="#welcome"  ng-click="tab=3">COMPANY</a>
        <a href="#welcome"  ng-click="tab=4">ADDRESS</a>
    </nav>
<div id="main-container">
    <div id="home" ng-show="tab==1">
        <h3 class="pad8-fnt18">Home</h3>
    </div>
    <div id="customer" ng-show="tab==2">
        <form name="customerTemplateData" ng-controller="CustomerController" ng-submit="AddCustomer()">
            <h3 class="pad8-fnt18">Add New Customer</h3>
            <div class="cust-group">
                <input type="text"
                       id="firstName"
                       ng-model="fname"
                       placeholder="First Name" />
            </div>

            <div class="cust-group">
                <input type="text"
                       id="lastName"
                       class="required"
                       ng-model="lname"
                       placeholder="Last Name" required /><span ng-show="form.fname.$error.required">Required</span>

            </div>

            <div class="cust-group">
                <input type="text"
                       id="companyName"
                       class="required"
                       ng-model="cname"
                       placeholder="Company Name" />
            </div>

            <div class="vertical-spacer-16px"> </div>

            <div class="addr-group">
                <input type="text"
                       class="w550px"
                       id="address-street"
                       ng-model="street"
                       placeholder="Street address" />
            </div>

            <div class="addr-group">

                <input type="text"
                       id="address-city"
                       ng-model="city"
                       placeholder="city" />
            </div>

            <div class="addr-group">

                <input type="text"
                       id="address-state"
                       ng-model="state"
                       placeholder="state" />
            </div>
            <div class="vertical-spacer-16px"> </div>
            <div class="bt-container-bottom">
                <input type="button" class="bt-medium-width clear" ng-click="clearCustomerInput()" value="Clear" />
                <input type="submit" class="btn-primary bt-flt-right bt-medium-width" value="Add" />
            </div>
            <h3 class="pad8-fnt18">Customer List</h3>
        </form>
</div><!-- END Tab Customer -->
    <div class=comp-group>
        <div id="company" ng-show="tab==3">
            <h3 class="pad8-fnt18">Company</h3>
        </div>
    </div>
    <div id="address" ng-show="tab==4">
        <div class="address-group">
            <h3 class="pad8-fnt18">Address</h3>
        </div>
    </div>
    </div>
</div>
</div>
